<div class="myNav w-100">
    <app-header></app-header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        </div>
        <div class="mx-auto order-0">
            <a class="h3 font-weight-light navbar-brand mx-auto" href="cricFeed">MATCHES</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul id="login" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">LOG IN</a>
                </li>
            </ul>
        </div>
        
    </nav>
</div>
<div class="row d-flex justify-content-left parentBlock">
    <div *ngFor="let match of getMatches;" class="myBlock border border-dark rounded m-2 pl-3 pr-3 pt-2 pb-2">
        <div (click)="giveDetail(match)">
            <div class="ml-2 mb-3">
                <p class="float-left mr-5">{{match.matchAt}} ({{match.matchType_Name}})</p>
                <p *ngIf='match.matchPosition === "LIVE"' class="float-right ml-5"> 🟢 LIVE</p>
                <p *ngIf='match.matchPosition === "TO START"' class="float-right ml-5"> 🔴 TO START</p>
                <p *ngIf='match.matchPosition === "BREAK"' class="float-right ml-5"> 🟠 BREAK</p>
                <p *ngIf='match.matchPosition === "FINISH"' class="float-right ml-5"> ⚫ FINISH</p>
            </div>
            <hr>
            <div class="ml-2">
                <p class="font-weight-bold font-italic float-left mr-5">{{match.teamAName}}</p>
                <p class="font-weight-bold float-right ml-5">{{match.teamAScore}}/{{match.teamAWickets}} ({{match.teamBOvers}})</p>
            </div>
            <hr class="myHR">
            <div class="ml-2 mb-3">
                <p class="font-weight-bold font-italic float-left mr-5">{{match.teamBName}}</p>
                <p class="font-weight-bold float-right ml-5">{{match.teamBScore}}/{{match.teamBWickets}} ({{match.teamAOvers}})</p>
            </div>
            <hr>
            <div class="ml-2">
                <p class="float-left">{{match.matchStatus}}</p>
            </div>
        </div>
    </div>
</div>
<div class="w-100">
    <app-footer></app-footer>
</div>
