button{
    width:100px;
    font-size: 12px;
}
.background{
    height:656px; max-width:100%;
    
}
.loginMain{
    background-color: #021A32;
  padding:7% 10% 7% 10%;
  position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;

}
.container{
    min-height: 100%; /* Mindesthöhe für moderne Browser */
    height:auto !important; 
    height:90%;
    width:90%;
    background-color: #fff;
  }
p{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
button{
    margin-left: 120px;
}
.formfield{
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 30px 30px 30px 30px;
    border-style: groove;
    border-radius: 10px;
}
.logo{
    height:50px;
    width:100px;
    margin-top: 10px;
    margin-left: 10px;
}
.container{
    margin-left: 0px;
    margin-right:-100px;
    padding: 0px 0px 0px 0px;
    width:100%;
    height: 100%;
}
.row{
    margin-left: 0px;
    margin-right:0px;
    padding: 0px 0px 0px 0px;
    height: 100%;
}
.col-sm-6{
    padding: 0px 0px 0px 0px;
}

.button {
    background-color: #021a32 !important;
    color: white;
    padding: 6px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border: none;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 36%;
  }
  button:disabled,
button[disabled]{
    color: #fff;
    background-color: #007bff !important;
    border-color: #007bff !important;
    padding: 6px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border: none;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 36%;
}
