<div class="scoreFeed">
  <div class="ballType">
    <mat-form-field>
      <h3>Please select a ball type:</h3>
      <mat-select>
        <mat-option *ngFor="let ballType of ballTypeList" [value]="ballType">
          {{ballType}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="run">
    <mat-form-field>
      <h3>Please select run scored:</h3>
      <mat-select>
        <mat-option *ngFor="let run of runTypeList" [value]="run">
          {{run}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary">Submit</button>
</div>
